:root{
  --mainGreen: #3f8a53;
  --lightGreen: #bada55;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
 body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
 }

 .text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
 }

 .text-green{
   color: var(--mainGreen);
 }

 .text-bright{
   color: var(--lightGreen);
 }

 .btn-black{
   background: transparent;
   text-transform: capitalize;
   font-size: 0.8rem;
   color: var(--mainDark) !important;
   border-radius: 0 !important;
   border: 0.1rem solid var(--mainDark) !important;
 }

 .btn-black:hover{
   background: var(--mainDark);
   color: var(--mainWhite) !important;
 }

 .cart-icon{
   cursor: pointer;
   font-size: 1.2rem;
   color: var(--mainYellow);
 }
 
 .text-dangerous{
   font-size: 0.8rem;
   text-align: center !important;
   font-weight: bold;
   float: right;
   color: white;
   position: relative;
   right: 80%;
   top:-8px;
   background: red;
   width: 10px;
   border-radius: 25px
 }
 
 .fa-cart-plus{
   font-size: 1.3rem;
   color: white
 }
 .navbar-dark{
   background: #343a40 !important;
 }
